#login {
  width: 600px;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 1s;
  background-color: var(--bodyBg);
  display: flex;
  flex-direction: column;
  border-left: 1px solid gray;
  color: var(--fontColor);
}
.profileOpen {
  right: 0;
}
.profileClose {
  right: -600px;
}
/* ----------------------- */

.loginTitle {
  width: 100%;
  height: 50px;
  background-color: var(--fontColor2);
  color: var(--bodyBg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginTitle p {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 5px;
}
/* ----------------------- */
.loginMain {
  width: 100%;
  height: 95%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/* ----------------------- */

.loginInput {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginInput p {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 5px;
}
.loginInput input {
  width: 100%;
  height: 50px;
  border: 2px solid var(--gray);
  padding: 5px;
}
.loginInput button {
  width: 100%;
  height: 50px;
  background-color: var(--yanRenk);
  border: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--bodyBg);
}
/* ----------------------- */

.loginRegister {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.loginRegister p {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 5px;
}
.loginRegister button {
  width: 100%;
  height: 50px;
  background-color: var(--gray);
  border: none;
  font-size: 1.5rem;
  font-weight: 400;
}
