#login {
  width: 600px;
  height: 100vh;
  position: fixed;
  top: 100px;
  transition: all 1s;
  background-color: var(--bodyBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--fontColor);
  padding-bottom: 200px;
  border-left: 2px solid gray;
}

.profileOpen {
  right: 0;
}
.profileClose {
  right: -600px;
}

.loginTitle {
  background-color: var(--fontColor2);
  text-align: center;
  color: white;
  height: 6%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginInput {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}
.loginInput input {
  width: 100%;
  border: 1px solid gray;
  height: 15%;
  padding: 5%;
}
.loginInput button {
  width: 100%;
  height: 15%;
  background-color: var(--yanRenk);
  color: white;
  border: none;
  cursor: pointer;
}
.loginInput p {
  font-size: 2rem;
}

.register {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.register p {
  font-size: 2rem;
  color: var(--fontColor);
}
.register > button {
  background-color: gray;
  color: var(--fontColor);
  width: 100%;
  height: 20%;
  text-align: center;
  border: none;
  cursor: pointer;
}
