#sepet {
  width: 600px;
  height: 100vh;
  position: fixed;
  top: 100px;
  transition: all 1s;
  background-color: var(--yanRenk);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.sepetOpen {
  right: 0;
}
.sepetClose {
  right: -600px;
}
