.home {
  width: 100%;
  height: 100%;
  background-color: var(--bodyBg);
  display: flex;
  flex-direction: column;
}
.homeMain {
  width: 100%;
  min-height: 2029px;
  background-color: var(--bodyBg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------------------ */
.homeSlider {
  width: 80%;
  min-height: 450px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.homeSliderLeft {
  width: 45%;
  height: 450px;
}
.homeSliderLeft img {
  width: 100%;
  height: 90%;
  background-size: cover;
}

.homeSliderRight {
  width: 40%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sliderRightTop {
  width: 80%;
  height: 30%;
  border: 1px solid gray;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y3ljbGluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.sliderRightCenter {
  width: 80%;
  height: 30%;
  border: 1px solid gray;
  background-position: center;
  background-size: cover;
  background-image: url("https://plus.unsplash.com/premium_photo-1683842178579-2365ce4f5352?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGN5Y2xpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
}
.sliderRightBottom {
  width: 80%;
  height: 30%;
  border: 1px solid gray;
  background-size: cover;
  background-image: url("https://plus.unsplash.com/premium_photo-1671100502325-8870ff9ba5c9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGN5Y2xpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
}
/* ------------------------ */
.homeBestProducts {
  background-color: var(--gray);
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.bestProductList {
  width: 80%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.product {
  height: 75%;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bodyBg);
  border: 1px solid lightgray;
  transition: all 0.5s;
}
.product:hover {
  box-shadow: 1px 1px 10px 3px lightgray;
}
.productName {
  width: 100%;
  height: 10%;
  text-align: center;
}
.productImage {
  width: 140px;
  height: 170px;
  background-size: cover;
}
.productPrice {
  width: 100%;
  height: 10%;
  text-align: center;
}
